anytree==2.8.0
apparmor==3.0.3
appdirs==1.4.4
asgiref==3.3.4
astroid==2.5.6
attrs==21.1.0
Beaker==1.11.0
bleach==3.3.0
Brlapi==0.8.2
btrfsutil==5.13.1
CacheControl==0.12.6
cffi==1.14.6
chardet==4.0.0
chrome-gnome-shell==0.0.0
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
coverage==5.5
cryptography==3.4.8
cupshelpers==1.0
distlib==0.3.2
distro==1.5.0
Django==3.2.2
django-admin==2.0.1
django-cors-headers==3.7.0
django-excel-base==1.0.4
django-excel-response2==3.0.2
django-six==1.0.4
djangorestframework==3.12.4
dnspython==1.16.0
docutils==0.17.1
future==0.18.2
html5lib==1.1
idna==3.2
importlib-metadata==4.0.1
iniconfig==1.1.1
iso8601==0.1.16
isodate==0.6.0
isort==5.8.0
jeepney==0.6.0
keyring==23.0.1
lazy-object-proxy==1.6.0
lensfun==0.3.95
LibAppArmor==3.0.3
libfdt==1.6.1
louis==3.18.0
lxml==4.6.3
Mako==1.1.5
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
meson==0.59.1
more-itertools==8.8.0
msgpack==1.0.2
netsnmp-python==1.0a1
OpenTimelineIO==0.13.0
ordered-set==4.0.2
packaging==20.9
pep517==0.11.0
Pillow==8.2.0
pkginfo==1.7.0
pluggy==0.13.1
ply==3.11
progress==1.5
psutil==5.8.0
pwquality==1.4.4
py==1.10.0
pyaaf2==1.4.0
pycairo==1.20.0
pycparser==2.20
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.10.0
PyGObject==3.40.1
pylint==2.8.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyserial==3.5
pysmbc==1.0.23
pytest==6.2.4
pytest-cov==2.11.1
python-distutils-extra==2.39
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
qrcode==6.1
rdflib==5.0.0
readme-renderer==29.0
reportlab==3.5.68
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rfc3986==1.4.0
screen==1.0.1
SecretStorage==3.3.1
serial==0.0.97
six==1.16.0
sqlformat==0.1.3
sqlparse==0.4.1
team==1.0
toml==0.10.2
tomli==1.2.1
tqdm==4.60.0
twine==3.4.1
urllib3==1.26.6
validate==5.1.0.dev0
webencodings==0.5.1
wrapt==1.12.1
xlwt==1.3.0
zipp==3.4.1
