<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Flav icon -->
    <link rel="icon" href="{% static 'img/biofabrication_node_identity/logo.svg'   %}"/>
    <link rel="stylesheet" href="../static/fontawesome-free-5.6.3-web/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bootstrap4-neon-glow.min.css">
    <link rel="stylesheet" href="../static/css/Roboto.css" >
    <link rel="stylesheet" href="{% static 'css/biofabrication_node_identity.css' %}">
    {% block HEAD %}
    {% endblock %}
</head>
<body>
    <!-- Button Menu (move between pages) -->
    <div class="navbar-dark text-white">
        <div class="container">
            <div class="m-3 col-xl-4">
                <a href="{% url 'back_end:home' %}">
                    <img
                            src="{% static 'img/biofabrication_node_identity/Logo_NBD 1.png' %}"
                            style="height: 5em"
                    >
                </a>
            </div>
            <nav class="navbar px-0 navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <!-- <a href="{% url 'back_end:home' %}" class="pl-md-0 p-3 text-light">Home</a> -->
                        <a href="{% url 'back_end:library' %}" class="p-3 text-decoration-none text-light">Library</a>
                        <a href="{% url 'back_end:preparing' %}" class="p-3 text-decoration-none text-light">Prepare a Mix</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    {% block footer %}
        <div class="row">
            <div class="container">
                <img class="m-3" src="{% static 'img/biofabrication_node_identity/Logo_NBD_white.png' %}" style="height: 3em">
                <img class="m-3" src="{% static 'img/biofabrication_node_identity/logofabw.svg' %}" style="height: 3em">
            </div>
        </div>
    {% endblock %}
</body>

<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.min.js"  crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="../static/js/extraFunctions.js"></script>
{% block JS %}

{% endblock %}
</html>