{% extends 'base.html' %}
{% load static %}

{% block HEAD %}
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block body %}
    <div class="container py-5 mb5">
        <!-- Title -->
        <h1 class="mb-5">Material Library</h1>
        <!-- Category and Search Tab -->
        <table id="recipes_table" class="table" data-height="20">
                    <thead class="thead-light">
                        <tr>
                            <th data-field="id" class="text-light" scope="col">#</th>
                            <th data-field="name" class="text-light" scope="col">Material</th>
                            <th data-field="creation_date" class="text-light" scope="col">Creation Date</th>
                            <th class="text-light" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <th scope="row">{{ recipe.id }}</th>
                            <td>
                                <a href="{% url 'back_end:home' %}{{ recipe.link }}">
                                    {{ recipe.name }}
                                </a>
                            </td>
                            <td>
                            <span class="font-italic">
                                {{ recipe.creation_date }}
                            </span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-sm btn-primary my-1 my-sm-0">
                                    <span class="fas fa-edit mr-1"></span>
                                    Edit</a>
                                <a href="#" class="btn btn-sm btn-danger my-1 my-sm-0">
                                    <span class="fas fa-trash mr-1"></span>
                                    Visualize</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </div>
{% endblock %}

{% block JS %}
    <script src="../static/js/jquery.dataTables.min.js"></script>
    <script src="../static/js/dataTables.bootstrap4.min.js"></script>
    <script>
        console.log("RECIPES");
        let my_data = JSON.parse('{{ recipes_json | escapejs }}');
        let table = document.getElementById("recipes_table");
        $(document).ready(function() {
            $('#recipes_table').DataTable();
        } );
    </script>
{% endblock %}
